<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        version="0.0.1" id="layout.samples">

	<author rim:copyright="2012"
            href="http://www.rim.com/"
            email = "abashkhaz@rim.com">Anzor Bashkhaz</author>  

	<name>Layout Samples</name>
	<description>Layout Samples</description>
	<feature id="blackberry.app">
    	<param name="backgroundColor" value="0xff181818" />
	</feature>
	<content src="box\index.html"></content>
</widget>