/* in landscape, make the footer smaller, to allow for more content */
@media all and (orientation:landscape) and (width:1280px){

    header,footer{
		height:90px;
	}
}


/* detect BlackBerry Q10 and make header and footer shorter for more screen estate  */
@media all and (width:720px) and (height: 720px)
{
    header,
    footer{
            height: 90px;
    }     
}

/* hide header and footer when available height is too short*/ 
@media 
all and (max-height:870px) and (max-width: 768px), /* portrait 1280x720 and 1280x768 */
all and (max-height:450px) and (width: 1280px) /* landscape */
{
    header,footer{
		display:none;
	}
}